<div class="container">
    <h3>{{title}}</h3>
    <p>The list below is based on Cat Listing in accending order using cloud api. </p>
    <!-- <div>
        <img src="{{catLoading}}" class="cat-load" /> <span>loading api ....</span>
    </div> -->
    
    
    <button (click)="RefreshData()" class="btn btn-primary">Reload</button>
    <hr>
</div>
<div class="container warning-container" *ngIf="errorStatus">
    <h1>Message Board</h1>
    <span>{{errorMessage}}</span><br>
    <span>Please cllick on Reload button after sometime..</span><br>

    <hr>
</div>
<div class="container scroll-outer" *ngIf="!errorStatus">
    The original Json Object ->
    <div class="scroll-inner">
        <div *ngIf="isLoading"> 
            <img src="{{catLoading}}" class="cat-load" /> <span>loading api ....</span>
        </div>
        <pre>{{originalList|json}}</pre>
    </div>

</div>
<div class="dv-pad">
    &nbsp;
</div>
<div class="container scroll-outer" *ngIf="!errorStatus">
    The Normalized output in ascending order -->
    <div class="scroll-inner shade">
        <div *ngIf="isNormalisedLoading"> 
            <img src="{{catLoading}}" class="cat-load" /> <span>normalising the json ....</span>
        </div>
        <ul>
            <li *ngFor="let recordType of sortedList">
                {{ recordType.Type }}
                <ul>
                    <li *ngFor="let record of recordType.List ">

                        {{record.name}} 

                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
